 
  <body>
    <h3>Listing Details</h3>
    <h4>Title: <%= listing.title %></h4>
    <p>Description: <%= listing.description %></p>
    <p>Price: &#8377 <%= listing.price.toLocaleString("en-IN") %></p>
    <p>Location: <%= listing.location %></p>
    <p>Image: <%= listing.image %></p>
    <a href="/listings/<%= listing._id %>/edit">Edit Listing</a>
        <br>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE" >
      <button>Delete this Listing</button>
    </form>
    <br>   
    <a href="/listings">Back to Listings</a>

  </body>
 
